{% extends 'AppConci/home.html' %}
{% load static %}

{% block content %}

<br>
<br>


<div class="container">
    <br>
</br>
    <h2 class="text-center text-dark">Acerca de Nosotros</h2>
    <br>
    <div class="row g-4">
        <div class="col">
            <div class="">
                <div class="text-center">
                    <p>Hola que tal! Somos Agustin Spalla, Leandro Racioppi y Lety Gamba. Trabajamos en la empresa CONCI SA la cual se dedica a la comercialización de productos para el agro. Actualmente conformamos el área de inteligencia de negocio y buscamos profesionalizarnos :)</p>
                </div>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-success">
                <div class="card-body text-center">
                    <img src="{% static 'C:\Users\Leticia Gamba\OneDrive\Escritorio\Entrega-final-Spalla-Gamba-Racioppi-main\AppConci\static\images\Foto conci.jpg' %}" class="rounded-circle mb-3" width="200px" alt="Foto de Agustin Spalla">
                    <h3 class="card-title mb-3">Agustin Spalla</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    <p class="card-text">Sígueme en:</p>
                    <a href="https://github.com/Spalla88"><i class="bi bi-github text-dark mx-1"></i></a>
                    <a href="https://www.linkedin.com/in/agustin-spalla-0a17b577/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-success">
                <div class="card-body text-center">
                    <img src="{% static 'Foto conci.jpeg' %}" class="rounded-circle mb-3" width="400px" alt="Foto de Leti Gamba">
                    <h3 class="card-title mb-3">Leti Gamba</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    <p class="card-text">Sígueme en:</p>
                    <a href="https://github.com/Letty1910"><i class="bi bi-github text-dark mx-1"></i></a>
                    <a href="https://www.linkedin.com/in/lety-gamba/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-success">
                <div class="card-body text-center">
                    <img src="{% static 'Foto conci.jpeg' %}" class="rounded-circle mb-3" width="400px" alt="Foto de Leandro Racioppi">
                    <h3 class="card-title mb-3">Leandro Racioppi</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    <p class="card-text">Sígueme en:</p>
                    <a href="https://github.com/LeanRacioppi"><i class="bi bi-github text-dark mx-1"></i></a>
                    <a href="https://www.linkedin.com/in/leandro-racioppi-30568a102/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
    </div>
        
</div>
<br><br><br><br>



{% endblock %}

