{% extends 'AppConci/home.html' %}
{% load static %}
{% block content %}

<br>
<br>





<div class="container text-center">
    <h1>Cosechadora</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for cosechadora in cosechadora %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{cosechadora.imagenCosechadora.url}}" class="" width="100px">
                {{cosechadora.titulo}}
                <a href="{% url 'cosechadora' cosechadora.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == cosechadora.usuario.id %}
                <a href="{% url 'cosechadora_editar' cosechadora.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'cosechadora_eliminar' cosechadora.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
