{% extends 'AppConci/home.html' %}
{% load static %}
{% block content %}

<br>
<br>





<div class="container text-center">
    <h1>Tractores</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
        {% for tractor in tractores %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{tractor.imagenTractor.url}}" class="" width="100px">
                {{tractor.titulo}}
                <a href="{% url 'tractor' tractor.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == tractor.usuario.id %}
                <a href="{% url 'tractor_editar' tractor.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'tractor_eliminar' tractor.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
